* {
    box-sizing: border-box;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(172, 82, 57);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #fef2dd;
    background-color: #791b1b;
    padding: 2%;
}

nav {
    font-size: 150%;
    font-weight: bolder;
}

nav a {
    background-color: #fef2dd;
    color: #382842;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}

figure {
    background-color: #382842;
    min-width: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0 5%;
}

figure p {
    max-width: 300px;
    font-size: 200%;
    color: #fef2dd;
}

main {
    display: flex;
    flex-direction: column;
}

#About section,
.contacts section {
    background-color: #fef2dd;
}

#About section p {
    padding: 10px 40px;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 4%;
}

h2,
h3,
h5 {
    font-size: 150%;
    height: 100px;
    width: 100px;
    margin: 20px 10px 0 0;
    background-color: #791b1b;
    border-radius: 50%;
    text-align: center;
}

section {
    margin: 20px 0;
}

.grid section img,
.works section img {
    object-fit: contain;
}

h4:hover,
.grid section img:hover,
.works section img:hover {
    box-shadow: inset 0px 0px 8px #791b1b, 0px 0px 15px #791b1b;
}

.works section {
    max-width: 30vh;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.works {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

#snippet h4 {
    margin-left: 400px;
}

h4 {
    position: relative;
    margin-bottom: -20px;
    margin-left: 200px;
    padding: 10px;
    width: 200px;
    text-align: center;
    background-color: #fef2dd;
    border: #382842;
    border-radius: 10px;
}

.contacts {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

footer {
    text-align: center;
}